.grid-container {
  width: 100%; }

.footer {
  width: 100%;
  background-color: #00b7ff; }
  .footer_container {
    max-width: 75em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    margin: 0 auto; }
    @media (max-width: 75em -1) {
      .footer_container {
        padding-right: 1.25em;
        padding-left: 1.25em; } }
  .footer_row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.625em;
    margin-left: -0.625em;
    margin-bottom: 2.5em;
    flex-wrap: wrap; }
  .footer_col {
    width: 100%;
    margin-bottom: 1.25em; }
    @media (min-width: 900px) {
      .footer_col {
        width: 25%;
        margin-bottom: 0; } }
  .footer_title {
    margin-bottom: 1.25em; }
  .footer_list {
    list-style: none; }
  .footer_item {
    margin-bottom: 0.625em; }
  .footer_link {
    color: #ffffff;
    text-decoration: none;
    transition: color 200ms ease-in-out; }
    .footer_link:hover {
      color: #000000; }
  .footer_copyright {
    width: 100%;
    max-width: 75em;
    font-size: 0.875rem;
    text-align: center; }
