@charset "UTF-8";
/* Almennt útlit fyrir meginmál á síðum */
.grid-container {
  width: 100%; }

.grid {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .grid_container {
    max-width: 75em;
    padding: 1.25em; }
  .grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.625em;
    margin-left: -0.625em;
    padding: 0.625em; }
  .grid_col-4 {
    width: 33.33333%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625em; }
  .grid_col-6 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625em; }
  .grid_col-8 {
    width: 66.66667%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625em; }
  .grid_content {
    display: wrap;
    padding: 0.625em; }
  .grid_pic {
    max-width: 100%; }

.button {
  background-color: #00b7ff;
  height: 2.5rem;
  width: 15rem;
  margin-top: 2rem;
  color: #000000;
  text-align: center;
  font-size: 1rem;
  font-family: Open Sans, helvetica;
  border: none;
  border-radius: 0.3rem;
  align-self: flex-start; }
  .button:hover {
    color: #ffffff;
    background-color: #ff5000; }

.heading2 {
  font-size: 2rem;
  font-family: Oswald, Verdana, serif; }

.main_text {
  font-size: 1.3125rem;
  /*21px*/
  font-family: Open Sans, helvetica;
  margin-top: 2rem; }

.staff_pic {
  padding: 0.625em;
  /*Skoða kóða þegar næst að keyra css skrár á undirsíður*/ }
  .staff_pic :hover {
    background-image: none;
    background-color: #ffffff; }
