@charset "UTF-8";
/* Almennt útlit fyrir meginmál á síðum */
.grid-container {
  width: 100%; }

.grid {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center; }
  .grid_container {
    max-width: 100%; }
  .grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.625em;
    margin-left: -0.625em; }
  .grid_col-6 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .grid_content {
    display: wrap; }
  .grid_pic {
    max-width: 100%; }
