/* SCSS grid for page */
/* SCSS variables for page */
.grid {
  display: flex;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center; }
  .grid_container {
    max-width: 75em;
    padding: 1.25em; }
  .grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.625em;
    margin-left: -0.625em;
    padding: 0.625em;
    flex-wrap: wrap; }
    .grid_row_center {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center; }
  .grid_content {
    width: 100%;
    display: wrap;
    padding: 0.625em; }
  .grid_pic {
    max-width: 100%;
    display: flex;
    align-items: flex-start; }
  .grid_col-4 {
    width: 33.33333%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625em; }
  .grid_col-6 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625em; }
  .grid_col-8 {
    width: 66.66667%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625em; }
  @media (max-width: 800px) {
    .grid_col_m-6 {
      width: 50%; } }
  @media (max-width: 500px) {
    .grid_col_sm-12 {
      width: 100%; } }

@media (max-width: 800px) {
  .grid_row:first-child {
    flex-direction: column-reverse; } }
