/* SCSS grid for page */
/* SCSS variables for page */
.grid {
  display: flex;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center; }
  .grid_container {
    max-width: 75em;
    padding: 1.25em; }
  .grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.625em;
    margin-left: -0.625em;
    padding: 0.625em;
    flex-wrap: wrap; }
    .grid_row_center {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center; }
  .grid_content {
    width: 100%;
    display: wrap;
    padding: 0.625em; }
  .grid_pic {
    max-width: 100%; }
  .grid_col-4 {
    width: 33.33333%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625em; }
  .grid_col-6 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625em; }
  .grid_col-8 {
    width: 66.66667%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.625em; }
  @media (max-width: 800px) {
    .grid_col_m-6 {
      width: 50%; } }
  @media (max-width: 500px) {
    .grid_col_sm-12 {
      width: 100%; } }

/*
@mixin col {
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;

  &-1 {
    @include columns(1);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }

  &-2 {
    @include columns(2);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }

  &-3 {
    @include columns(3);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }

  &-4 {
    @include columns(4);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }

  &-5 {
    @include columns(5);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }

  &-6 {
    @include columns(6);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }

  &-7 {
    @include columns(7);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }

  &-8 {
    @include columns(8);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }

  &-9 {
    @include columns(9);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }

  &-10 {
    @include columns(10);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }

  &-11 {
    @include columns(11);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }

  &-12 {
    @include columns(12);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: $gutter*0.5;
  }
}
*/
