/* SCSS grid for page */
/* SCSS variables for page */
.grid {
  display: flex;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: center; }
  .grid_container {
    max-width: 75em; }
  .grid_row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.625em;
    margin-left: -0.625em;
    padding-bottom: 2.5em; }
    .grid_row_center {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center; }
    @media (min-width: 1200px) {
      .grid_row_product {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; } }
    @media (min-width: 700px) and (max-width: 1200px) {
      .grid_row_product {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between; } }
  .grid_content {
    width: 100%;
    padding-top: 0.625em; }
    @media (max-width: 1200px) {
      .grid_content {
        margin-right: 1.25em;
        margin-left: 1.25em; } }
  .grid_pic {
    display: flex;
    max-width: 100%;
    justify-content: center; }
    @media (max-width: 1200px) {
      .grid_pic {
        margin-right: 1.25em;
        margin-left: 1.25em; } }
  .grid_col-4 {
    width: 33.33333%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.625em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
  .grid_col-6 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.625em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
  .grid_col-8 {
    width: 66.66667%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.625em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; }
  @media (max-width: 800px) {
    .grid_col_m-6 {
      width: 50%; } }
  @media (max-width: 500px) {
    .grid_col_sm-12 {
      width: 100%; } }

@media (max-width: 700px) {
  .grid_row_switch:first-child {
    flex-direction: column-reverse; } }
