// SCSS to handle rotation of staff cards on hover

@import "scss/config.scss";

.card-container {
  display: flex;
  width: 38rem;
  height: 50rem;
  overflow: hidden;
  background-color: transparent;

  @media (max-width: 800px) {
    width: 25.1rem;
    height: 42rem;
  }

  @media (max-width: 500px) {
    width: 30.25rem;
    height: 45rem;
  }
}

.card {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  text-align: center;
  flex-direction: column;
  justify-content: center;
  transition: transform $transition;
  transform-style: preserve-3d;
  align-items: center;

  img {
    max-width: 100%;
  }

  &__front,
  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 $gutter 0 $gutter;
    backface-visibility: hidden;
  }

  &__front {
    background-color: $color-5;

  }

  &__back {
    overflow: wrap;
    background-color: $color-5;
    transform: rotateY(180deg);
  }

  &__back h2 {
    padding-top: 50%;
  }
}

.card-container:hover .card {
  transform: rotateY(180deg);
}
