// colors
$color1: #000000;
$color2: #fffcf2;
$color3: #ff5000;
$color4: #00b7ff;
$color5: #ffffff;

// spacings
$max-width: 75em; // 1200px
$gutter: 1.25em; // 20px

// fonts
$font-main: "Open Sans", helvetica, arial, sans-serif;
$font-heading: "Oswald", verdana, serif;

$transistion: 200ms ease-in-out;