.form {
	max-width: 25rem;
	margin: 1rem;
	font-size: 1.125rem;

	&_button {
		background-color: $color-4;
		margin: 1rem;
		border: none;
		color: $color_1;
		padding: 1em 6.25rem;
		text-align: center;
		font-size: 1rem;
		border-radius: 0.1875rem;
		align-self: center;

		&:hover {
			background-color: $color-3;
			color: $color-5;
		}
	}
}
input {
	display: inline;
	margin: 0.5rem;
	border: 0.0625rem solid $color_1;
	border-radius: 0.1875rem;
	width: 12.5rem;
	height: 2rem;
	padding: 0.5rem;
}
.month {
	display: inline;
	margin: 0.5rem;
	border: 0.0625rem solid $color_1;
	border-radius: 0.1875rem;
	width: 3.75rem;
	height: 2.25rem;
	padding: 0.5rem;
}
.year {
	display: inline;
	margin: 0.5rem;
	border: 0.0625rem solid $color_1;
	border-radius: 0.1875rem;
	width: 5rem;
	height: 2.25rem;
	padding: 0.5rem;
}
.course {
	display: inline;
	margin: 0.5rem;
	border: 0.0625 solid $color_1;
	border-radius: 0.1875rem;
	width: 9.4rem;
	height: 2.25rem;
	padding: 0.5rem;
}