/* Almennt útlit fyrir meginmál á síðum */

@import "scss/config.scss";
@import "scss/site-grid.scss";

.grid {
    width: 100%;
    background-color: $color-5;
    display: flex;
    align-items: center;
    justify-content: center;
    

    &_container {
        max-width: 100%;

    }
    &_row {
        @include row;
    }

    &_col-6 {
        @include columns (6);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    &_content{
        display: wrap;
    }
    &_pic {
        max-width: 100%;

    }
}
