/* SCSS for page appearance */

@import "scss/config.scss";
@import "scss/site-grid.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
  font-family: $font-main;
  font-size: 16px;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;
}

.button {
  width: 15rem;
  height: 2.5rem;
  margin-top: 2rem;
  font-family: $font-main;
  font-size: 1rem;
  border: none;
  color: $color-1;
  text-align: center;
  background-color: $color-4;
  border-radius: 0.3rem;
  align-self: flex-start;

  &:hover {
    color: $color-5;
    background-color: $color-3;
  }
}

.cart {
  display: flex;
  padding: $gutter*0.5;
  align-items: center;
  justify-content: center;

  &_img {
    max-width: 100%;
  }

  &_form {
    flex-wrap: wrap;
  }

  &_button_add{
    width: 9rem;
    height: 2.5rem;
    padding-right: 1rem;
    font-family: $font-main;
    font-size: 1rem;
    color: $color-1;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    transition: color $transition;
    text-align: right;
    border: 0.05rem solid $color-1;
    border-radius: 0.3rem;
    align-self: flex-start;
    &:hover{
      background-color: $color-4;
    }
  }
  &_button_delete{
    width: 10rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-right: 1rem;
    font-family: $font-main;
    font-size: 1rem;
    color: $color-1;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    transition: color $transition;
    text-align: right;
    border: 0.05rem solid $color-1;
    border-radius: 0.3rem;
    align-self: flex-start;
    &:hover{
      background-color: $color-4;
    }
  }

  &_button_update{
    width: 8rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding-right: 1rem;
    font-family: $font-main;
    font-size: 1rem;
    color: $color-1;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;
    transition: color $transition;
    text-align: right;
    border: 0.05rem solid $color-1;
    border-radius: 0.3rem;
    align-self: flex-start;
    &:hover{
      background-color: $color-4;
    }
  }

  &_price{
    font-family: $font-heading;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: $gutter*8;
    margin-bottom:$gutter*0.2;
  }
}

.footer {
  width: 100%;
  background-color: $color-4;

  &_container {
    max-width: $max-width;
    padding-top: $gutter * 2;
    padding-bottom: $gutter *2;
    margin: 0 auto;

    @media (max-width: $max-width -1) {
      padding-right: $gutter;
      padding-left: $gutter;
    }
  }

  &_row {
    @include row;
    margin-bottom: $gutter *2;
    flex-wrap: wrap;
  }

  &_col {
    @include columns (12);
    margin-bottom: $gutter;

    @media (min-width: 400px) {
      @include columns(6);
    }

    @media (min-width: 900px) {
      @include columns(3);
      margin-bottom: 0;
    }
  }

  &_title {
    margin-bottom: $gutter;
  }

  &_list {
    list-style: none;
  }

  &_item {
    margin-bottom: $gutter * 0.5;
  }

  &_link {
    color: $color-5;
    text-decoration: none;
    transition: color $transition;

    &:hover {
      color: $color-1;
    }
  }

  &_copyright {
    width: 100%;
    max-width: $max-width;
    font-size: 0.875rem;
    text-align: center;
  }
}

.header {
  margin-bottom: $gutter * 5;
  background-color: $color-3;

  &_content {
    display: flex;
    max-width: $max-width;
    margin: 0 auto;
    flex-direction: column;
  }

  &_title {
    margin-bottom: $gutter;
    font-family: $font-heading;
    font-size: 3.75rem;
    font-weight: 600;

    text-align: center;
  }
}

/*Er þessi einhversstaðar í skjalinu?*/
.header_price {
  margin-top: 2rem;
  font-family: $font-heading;
  font-size: 2rem;
}

.heading2 {
  font-family: $font-heading;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main_text {
  margin-top: 2rem;
  font-family: $font-main;
  font-size: 1.3125rem;    // 21px
}

.nav {
  margin-bottom: $gutter;

  &_row {
    @include row();
    flex-wrap: wrap;
  }

  &_list {
    @include columns(12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $gutter;
    list-style: none;

    @media (min-width: 800px) {
      @include columns(6);
      // @include offset-left(3);
      margin-bottom: 0;
    }
  }

  &_item {
    display: flex;
    margin-right: $gutter * 0.5;
    margin-left: $gutter * 0.5;
    font-size: 1rem;
  }

  &_link {
    font-weight: bold;
    color: $color-1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: color $transition;

    &:hover {
      color: $color-2;
    }
  }

  &_item--active &_link {
    text-decoration: underline;
  }

  &_cart {
    @include columns(12);
    display: flex;
    justify-content: center;

    @media (min-width: 800px) {
      @include columns(2);
      // @include offset-left(1);

      justify-content: flex-end;
    }
  }

  &_button {
    padding-right: $gutter;
    padding-left: 30px;
    color: $color-1;
    text-decoration: none;
    background-image: url("/img/cart.svg");
    background-repeat: no-repeat;
    transition: color $transition;

    &:hover {
      color: $color-5;
    }

    @media (min-width: $max-width) {
      padding-right: 0;
    }
  }
}

/* INPUT SCSS START */

.form {
  display: flex;
  max-width: $max-width;
  margin: $gutter*0.5;
  font-size: 1.125rem;
  flex-wrap: wrap;

  &_button {
    padding: 1em 6.25rem;
    margin: $gutter*0.5;
    font-size: 1rem;
    color: $color_1;
    text-align: center;
    border: none;
    background-color: $color-4;
    border-radius: 0.1875rem;
    align-self: center;

    &:hover {
      color: $color-5;
      background-color: $color-3;
    }
  }

  &_cart{
    width:100%;
  }
  &_label{
    font-family: $font-main;
    font-size: 1.125rem;
    
  }

  &_input{
      width: 22rem;
      height: 2.5rem;
      padding: 0.5rem;
      margin: 0.1rem;
      border: 0.0625rem solid $color_1;
      border-radius: 0.1875rem;

      &_month{
        width: 4rem;
        height: 2.5rem;
        padding: 0.5rem;
        margin: 0.5rem;
        border: 0.0625rem solid $color_1;
        border-radius: 0.1875rem;
      }

      &_nr{
        width: 5rem;
        height: 2.5rem;
        padding: 0.5rem;
        margin: 0.1rem;
        border: 0.0625rem solid $color_1;
        border-radius: 0.1875rem;

        &_prod{
          width: 13rem;
          height: 2.5rem;
          padding: 0.5rem;
          margin: 0.1rem;
          border: 0.1rem solid $color-1;
          border-radius: 0.2rem;
        }
      }

      &_year{
        width: 5rem;
        height: 2.5rem;
        padding: 0.5rem;
        margin: 0.5rem;
        border: 0.0625rem solid $color_1;
        border-radius: 0.1875rem;
      }
      &_course{
        width: 22rem;
        height: 2.5rem;
        padding: 0.5rem;
        border: 0.0625rem solid $color_1;
        border-radius: 0.1875rem;
      }
  }

  &_item{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    width: 90%;
  }

  &_prod{
    width: 100%;
    &_item{
      width:100%;
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
    }
  }
}

/* INPUT SCSS END */
