* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
  font-size: 16px;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;
}

// import scss files
@import "scss/config.scss";
@import "scss/site-grid.scss";
@import "scss/Form.scss";