.grid {
    width: 100%;
    display: flex;
    background-color: $color-5;    
    align-items: center;
    justify-content: center;

    &_container {
        max-width: $max-width;
        padding: $gutter;

    }

    &_row {
        @include row;
        padding: $gutter*0.5;
        flex-wrap: wrap;
    }

    &_col-4 {
        @include columns (4);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: $gutter*0.5;
    }

    &_col-6 {
        @include columns (6);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: $gutter*0.5;
    }

    &_col-8 {
        @include columns (8);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: $gutter*0.5;
    }

    &_content {
        display: wrap;
        padding: $gutter*0.5;
    }

    &_pic {
        max-width: 100%;

    }
}